*, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.frontpage{
	/*background-image: url(../img/bodybuilder2_1.jpg);*/
	min-height: 80vh;
	/*background-size: cover;*/
	display: flex;
	/*background-attachment: fixed;*/
	/*background-position: 0% 20%;*/
	/*background-position: center;*/
	width: 100%;
	background: url(../img/bodybuilder2_1.jpg) no-repeat center/cover;
	margin-bottom: 20vh;
	margin-top: 10vh;
}

.frontpage > div{
	color: white;
	margin-left: 10%;
	margin-top: 10%;
	height: 50%;
	width: 40vw;
	background-color: #3339;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	padding-left: 10px;
	text-align: center;
}

.frontpage h1{
	font-size: 7vh;
	color: orange;
	text-shadow: 1px 1px 1px rgba(255, 101, 0, 1), -1px 1px 1px rgba(255, 101, 0, 1), 1px -1px 1px rgba(255, 101, 0, 1), -1px -1px 1px rgba(255, 101, 0, 1);
}

.frontpage p{
	font-size: 2vw;
	margin-bottom: 20px;
}

h3{
	font-weight: bold;
	font-size: 3vw;
	margin-bottom: 10px;
}

.debug{
	height: 200vh;
}

.dumbbell_img{
animation-name: loop_movement;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-fill-mode: both;
animation-direction: alternate;
animation-timing-function: linear;
width: 50px;
margin-left: 20px;
margin-bottom: 30px;
}

.frontpage > div > div{
	display: flex;
	align-items: center;
}

@keyframes loop_movement{
	from {
		transform: scale(1) ;
	}
	to {
		transform: scale(1.3);
	}
}

.flexbox {
    background: url(../img/loginBackground.jpeg) no-repeat center/cover;
    display: flex;
    align-items: center;
    color:white;
    text-shadow: 3px 3px 3px black;
    width: 100%;
    min-height: 80vh;
    /*background-color: blue;*/
}

.flexItem {
    text-wrap: wrap;
}

.loginText {
    font-weight:bold;
    font-size: 3vw;
    flex: 60%;
    /*background-color: blueviolet;*/
}

.loginText h2{
	margin-left: 10%;
	width: 85%;
}

.loginSection {
	margin: 0 5%;
    background-color: #000B;
    box-shadow: 0px 0px 15px #0001;
    font-size: 2vw;
    flex: 40%;
}

.flexbox h3 {
	margin-top: 2%;
    text-align: center;
    font-size: 2vw;
}

.formItem {
    margin-top: 3%;
    padding: 10px;
    color: white;
}

input {
    box-sizing: border-box;
    width: 100%;
    border-color: aliceblue;
    padding: 3%
}

@media screen and (max-width: 900px){
	.frontpage{
		min-height: 40vh;
		background-position: right;
		padding: 0;
		margin: 0;
	}

	.flexbox{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 40vh;
		padding: 0;
		margin: 0;
	}

	.frontpage > div{
		height: 30vh;
		padding-top: 0;
		margin-top: 0;
		align-self: center;
	}
}

header{
	background-color: black;
	position: fixed;
	width: 100%;
	top: 0;
}

nav{
	height: 10vh;
}

nav ul{
	width: 60%;
	margin: auto;
	justify-content: center;
	gap: 10%;
	align-self: center;
}

nav ul, nav{
	display: flex;
	align-items: center;
}

nav li{
	display: flex;
}

nav a{
	text-decoration: none;
	color: orange;
	font-size: 20px;
	font-weight: bold;
}

#register-btn{
	width: 120px;
	margin-right: 10px;
	height: 70%;
	border-radius: 50px;
	background-color: orange;
	font-size: 20px;
	font-weight: bold;
}

.close-menu{
	display: none;
	background-color: black;
	color: orange;
	font-size: 40px;
	font-weight: bold;
	border-style: none;
	position: absolute;
}

@media screen and (max-width: 600px){
	nav ul{
		flex-direction: column;
		justify-content: space-around;
		height: 40vh;
		gap: 0;
		margin: 0;
	}

	nav{
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}

	#register-btn{
		margin-top: 10vh;
		height: 10vh;
		width: 50%;
		font-size: 30px;
	}

	nav a{
		font-size: 28px;
	}

	.close-menu{
		display: block;
		align-self: flex-end;
		top: 0;
	}
}

@media screen and (min-width: 600px){
	nav ul{
display: flex;
	}

	#register-btn{
		display: block;
	}